@import "tailwindcss";

@theme {
  --color-primary: #646cff;
  --color-secondary: #747bff;
  --color-accent: #535bf2;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-info: #3b82f6;
  --color-background: #ffffff;
  --color-background-success: #22c55e31;
  --color-background-warning: #f59e0b54;
  --color-background-secondary: #f5f5f5;
  --color-background-tertiary: #f3f4f6;
  --color-text: #222;
  --color-text-secondary: #555;
  --color-text-tertiary: #777;
  --color-border: #aaa;
  --color-border-success: #22c55e;
  --color-border-warning: #f59e0b;
  --color-border-secondary: #f1f1f1;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-shadow-secondary: rgba(0, 0, 0, 0.05);
  --color-shadow-tertiary: rgba(0, 0, 0, 0.02);
}

* {
  font-family: "Poppins", sans-serif;
}
.Pagearea {
  padding-left: 70px;
  padding-right: 70px;
}
.Toparea {
  padding-top: 30px;
}
body {
  background-color: var(--color-background-secondary);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: var(--color-text);
}
input,
button,
textarea {
  font-family: "Poppins", sans-serif;
  outline: none;
}

img {
  object-fit: cover;
}

h4 {
  font-size: 19px;
  font-weight: 600;
}
h5 {
  font-size: 15px;
  font-weight: 600;
}
